/* line 1, ../../../../tmp/firefox/css/content/engines/google.scss */
#res h3.r {
  overflow: visible !important;
}

/* line 3, ../../../../tmp/firefox/css/content/base/search.scss */
*:hover > .__avira__search_block {
  opacity: 1.0;
}

/* line 7, ../../../../tmp/firefox/css/content/base/search.scss */
.__avira__search_block {
  display: inline-block !important;
  width: 15px;
  height: 20px;
  background-size: cover;
  left: -25px;
  position: absolute;
  cursor: pointer;
  vertical-align: middle;
  background-size: 100% 75%;
  background-repeat: no-repeat;
  background-position: 80% 50%;
  opacity: 0.5;
  transition: opacity 0.4s;
}

/* line 3, ../../../../tmp/firefox/css/content/search.scss */
.__avira__search_block {
  background-image: url("../../img/serp_info_safe.svg");
}

/* line 7, ../../../../tmp/firefox/css/content/search.scss */
.__avira__search_block.__avira__info-danger {
  background-image: url("../../img/serp_info_unsafe.svg");
}
